:root {
  --main: #fafafa;
  --second: #23395d;
  --third: #117986;
  --dark: #000000;
  --light: #ffffff;
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
}

* {
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

/* OVERALL STYLES */
main {
  margin: 0;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  letter-spacing: .1em;
  color: var(--main);
}
 
a {
  color: var(--main);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: var(--third);
}

header a {
  color: var(--light);
}

img {
  max-width: 100%;
}

span[role="img"] {
  cursor: default;
}

li {
  list-style: none;
}

nav a:hover {
  text-decoration: none;
}

nav li {
  cursor: pointer;
}

/* SPACING STYLES */
.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.px-2 {
  padding-right: var(--spacing-two);
  padding-left: var(--spacing-two);
}

/* HEADER/NAV BACKGROUND IMAGE AND OVERLAY */
.big-image {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url(./assets/images/cover-image.jpg);
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .65);
  color: var(--light);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* HEADER STYLES */
.name {
  color: var(--light);
  background: transparent;
  font-size: 55px;
  overflow: hidden;
  border-right: .15em solid var(--third); 
  white-space: nowrap;
  margin: 0 auto; 
  letter-spacing: .15em; 
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}
  
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 30% }
}
  
/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: var(--third) }
}

.home-links {
  padding-top: 50px;
}

.link-home {
  color: var(--main);
  text-decoration: none;
  font-weight: bold;
}

.link-home:hover {
  color: var(--third);
}

/* NAVBAR STYLES */
.navbar {
  color: var(--light);
  background: transparent;
  top: 0;
  /* position: -webkit-sticky;
  position: sticky; */
  z-index: 9999;
}

/* FOOTER STYLES */
footer {
  bottom: 0;
  padding: 30px;
  width: 100%;
  background-color: var(--third);
}

.link {
  color: var(--dark);
  text-decoration: none;
  font-weight: bold;
}

.link:hover, .arrow-top:hover {
  color: var(--main);
}

.arrow-top {
  position: absolute;
  right: 0;
  padding-right: 10px;
}

/* ABOUT SECTION STYLES */
.about-container {
  padding-bottom: 150px;
}

.about-title {
  color: var(--second);
  border-bottom: 1px solid var(--dark);
  padding: 20px;
  text-align: center;
}

.img-fluid {
  height: auto;
  max-width: 100%;
  margin-left: 30px;
}

.about-card {
  border: none;
}

.about-content {
  width: 100%;
}

.about-me-content {
  color: var(--dark);
  margin: 10px 50px 10px 30px;
  text-align: justify;
}

/* PORTFOLIO STYLES */
.project-container {
  padding-bottom: 100px;
}

.project-title {
  color: var(--second);
  border-bottom: 1px solid var(--dark);
  padding: 20px;
  text-align: center;
}

.project-intro {
  color: var(--second);
  margin: 25px 85px 35px 85px;
  text-align: center;
}

.project-text {
  color: var(--second);
}
 
.card-columns {
  margin: 25px 85px 35px 85px; 
} 

.card-image {
  position: relative;
}

.image-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background: var(--dark);
}

.card-title {
  padding-top: 100px;
  text-align: center;
}

.text-muted {
  text-align: center;
  font-size: 12px;
}

.card-title a, .text-muted a {
  text-decoration: none;
  color: var(--main);
}

.card:hover .image-overlay, .card-title:hover, .card-text:hover .text-muted:hover {
  opacity: .75;
  text-align: center;
}

/* RESUME STYLES */
.resume, .resume-p {
  color: var(--second);
  text-align: center;
  padding-top: 50px;
}

.f-skill, .b-skill {
  color: var(--second);
  margin-left: 85px;
  padding-top: 20px;
}

.skills-container {
  padding-bottom: 50px;
}

.skills-title {
  color: var(--second);
  border-bottom: 1px solid var(--dark);
  padding: 20px;
  text-align: center;
}

.skill-icon {
  width: 65px;
  height: 65px;
  padding: 5px;
  margin: 15px 25px 20px 25px;
}

.skill-name {
  font-size: 14px;
  color: var(--second);
  text-align: center;
}

/* CONTACT FORM STYLES */
.contact-container {
  background-color: var(--second);
  padding-bottom: 50px;
}

.contact-title {
  color: var(--main);
  border-bottom: 1px solid var(--light);
  padding: 20px;
  text-align: center;
}

form {
  width: 50%;
  padding-left: 85px;
}

.name-form, .email-form, .message-form {
  color: var(--main);
  margin: 15px 0 15px 0;
}

input, textarea {
  border: 1px solid var(--dark);
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: var(--second);
  width: 100%;
  margin-top: 5px;
  border-radius: 10px;
  background-color: var(--main);
}

input:focus, textarea:focus {
  background-color: var(--main);
  outline: none;
}

button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 10px 1px;
  background-color: var(--light);
  color: var(--dark);
}

button:hover {
  background-color: var(--dark);
  color: var(--light);
}

button[disabled] {
  cursor: default;
  opacity: .8;
}

.contact-text {
  margin: 15px;
  text-align: center;
}

/* SCROLL TO TOP */
.scrollTop {
  position: fixed; 
  bottom: 28px;
  right: 20px;
  height: 50px;
  width: 40px;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.1s;
  transition: opacity 0.3s;
  opacity: .5;
  color: var(--dark);
}

.scrollTop:hover{
  opacity: 2;
  color: var(--dark);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

/* MEDIA QUERIES SMALLER SCREEN SIZES */
@media screen and (max-width: 1200px) {
  .card-title {
    font-size: 16px;
    padding-top: 60px;
    text-align: center;
  
  }
  .text-muted {
    font-size: 12px;
  } 
} 

@media screen and (max-width: 900px) {
  .card-title {
    font-size: 12px;
    padding-top: 40px;
    text-align: center;
  
  }
  .text-muted {
    font-size: 8px;
  } 
} 

@media screen and (max-width: 750px) {
  .card-title {
    font-size: 10px;
    padding-top: 30px;
    text-align: center;
  }

  .text-muted {
    font-size: 8px;
  } 

  .skill-name {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
} 

@media screen and (max-width: 650px) {
  .card-title {
    font-size: 8px;
    padding-top: 20px;
    text-align: center;
  }
  
  .text-muted {
    font-size: 8px;
  } 
} 

@media screen and (max-width: 575px) {
  .card-title {
    font-size: 22px;
    padding-top: 80px;
    text-align: center;
  }
  
  .text-muted {
    font-size: 16px;
  } 
} 

@media screen and (max-width: 475px) {
  .name {
    font-size: 35px;
  }
}

@media screen and (max-width: 450px) {
  .card-title {
    font-size: 16px;
    padding-top: 50px;
    text-align: center;
  }
  
  .text-muted {
    font-size: 12px;
  } 

  .skill-name {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
} 

@media screen and (max-width: 375px) {
  .card-title {
    font-size: 10px;
    padding-top: 20px;
    text-align: center;
  }
  
  .text-muted {
    font-size: 8px;
  } 

  .skill-name {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 0;
  }

  .skill-icon {
    align-items: center;
    margin-left: 70px;
  }
} 

@media screen and (max-width: 300px) {
  .name {
    font-size: 30px;
  }
}