:root {
  --primary: #fafafa;
  --secondary: #23395d;
  --tertiary: #117986;
  --dark: #000000;
  --light: #ffffff;
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
}

* {
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

/* OVERALL STYLES */
main {
  margin: 0;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  letter-spacing: .1em;
  color: var(--primary);
}
 
a {
  color: var(--primary);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: var(--tertiary);
}

header a {
  color: var(--light);
}

img {
  max-width: 100%;
}

span[role="img"] {
  cursor: default;
}

li {
  list-style: none;
}

nav a:hover {
  text-decoration: none;
}

nav li {
  cursor: pointer;
}

/* SPACING STYLES */
.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.mx-5 {
  margin-right: var(--spacing-five);
  margin-left: var(--spacing-five);
}

.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.my-5 {
  margin-top: var(--spacing-five);
  margin-bottom: var(--spacing-five);
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.px-2 {
  padding-right: var(--spacing-two);
  padding-left: var(--spacing-two);
}

.py-1 {
  padding-top: var(--spacing-one);
  padding-bottom: var(--spacing-one);
}

.py-2 {
  padding-top: var(--spacing-two);
  padding-bottom: var(--spacing-two);
}

/* HEADER/NAV BACKGROUND IMAGE AND OVERLAY */
.big-image {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url(./assets/images/cover-image.jpg);
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .65);
  color: var(--light);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* HEADER STYLES */
.name {
  color: var(--light);
  background: transparent;
  font-size: 48px;
}

.home-links {
  padding-top: 50px;
}

.link-home {
  color: var(--primary);
  text-decoration: none;
  font-weight: bold;
}

.link-home:hover {
  color: var(--tertiary);
}

/* NAVBAR STYLES */
.navbar {
  color: var(--light);
  background: transparent;
  top: 0;
  /* position: -webkit-sticky;
  position: sticky; */
  z-index: 9999;
}

/* FOOTER STYLES */
footer {
  bottom: 0;
  padding: 30px;
  width: 100%;
  background-color: var(--tertiary);
}

.link {
  color: var(--dark);
  text-decoration: none;
  font-weight: bold;
}

.link:hover, .arrow-top:hover {
  color: var(--primary);
}

.arrow-top {
  position: absolute;
  right: 0;
  padding-right: 10px;
}

/* ABOUT SECTION STYLES */
.about-container {
  padding-bottom: 300px;
}

.about-title {
  color: var(--secondary);
  border-bottom: 1px solid var(--dark);
  padding: 30px;
  text-align: center;
}

.about-me-content {
  color: var(--dark);
  margin: 25px 85px 35px 85px;
  text-align: justify;
}

/* PORTFOLIO STYLES */
.project-container {
  padding-bottom: 100px;
}

.project-title {
  color: var(--secondary);
  border-bottom: 1px solid var(--dark);
  padding: 20px;
  text-align: center;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px 25px;
  margin: 25px 85px 35px 85px;
}

.grid-item {
  border-radius: 5%;
  background-color: var(--light);
  box-shadow: 5px 10px 5px var(--secondary);
  padding: 15px;
}

.grid-item a {
  color: var(--secondary);
}

.project-img {
opacity: 1;
}

/* .project-img:hover .overlay {
  opacity: 1;
} */

/* RESUME STYLES */
.resume, .resume-p {
  color: var(--secondary);
  text-align: center;
  padding-top: 50px;
}

.f-skill, .b-skill {
  color: var(--tertiary);
  margin-left: 85px;
  padding-top: 20px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 25px 25px;
  margin: 25px 85px 35px 85px;
}

.skills-container {
  padding-bottom: 50px;
}

.skills-title {
  color: var(--secondary);
  border-bottom: 1px solid var(--dark);
  padding: 20px;
  text-align: center;
}

.icon {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 15px;
}

.skill-icon {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  padding: 5px;
  margin: 15px 25px 2px 25px;
}

.skill-name {
  font-size: 12px;
  color: var(--secondary);
}

/* CONTACT FORM STYLES */
.contact-container {
  background-color: var(--secondary);
  padding-bottom: 50px;
}

.contact-title {
  color: var(--primary);
  border-bottom: 1px solid var(--light);
  padding: 20px;
  text-align: center;
}

form {
  width: 50%;
  padding-left: 85px;
}

.name-form, .email-form, .message-form {
  color: var(--primary);
  margin: 15px 0 15px 0;
}

input, textarea {
  border: 1px solid var(--dark);
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: var(--secondary);
  width: 100%;
  margin-top: 5px;
  border-radius: 10px;
  background-color: var(--primary);
}

input:focus, textarea:focus {
  background-color: var(--primary);
  outline: none;
}

button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 10px 1px;
  background-color: var(--light);
  color: var(--dark);
}

button:hover {
  background-color: var(--dark);
  color: var(--light);
}

button[disabled] {
  cursor: default;
  opacity: .8;
}

/* SCROLL TO TOP */
.scrollTop {
  position: fixed; 
  bottom: 28px;
  right: 20px;
  height: 50px;
  width: 40px;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.1s;
  transition: opacity 0.3s;
  opacity: .5;
  color: var(--dark);
}

.scrollTop:hover{
  opacity: 2;
  color: var(--dark);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

@media screen and (max-width: 768px) {
  .project-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}